<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Filial</title>
</head>

<body>
    <div class="container">
        <form action="/filial" method="post">
            <h1>Cadastrar Filial</h1>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome da Filial</label>
                    <input name="nome" type="text" class="form-control" id="nome">
                </div>
                <div class="mb-3">
                    <label for="tel" class="form-label">Telefone</label>
                    <input name="tel" type="text" class="form-control" id="tel">
                </div>
                <div class="mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input name="cidade" type="text" class="form-control" id="cidade">
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <input name="estado" type="text" class="form-control" id="estado">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</body>

</html>