<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Carro</title>
</head>

<body >
    <div class="container">
        <form action="/carro" method="post">
            <h1>Cadastrar Veículo</h1>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input name="modelo" type="text" class="form-control" id="modelo">
                </div>
                <div class="mb-3">
                    <label for="ano" class="form-label">Ano</label>
                    <input name="ano" type="text" class="form-control" id="ano">
                </div>
                <div class="mb-3">
                    <label for="cor" class="form-label">Cor</label>
                    <input name="cor" type="text" class="form-control" id="cor">
                </div>
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor</label>
                    <input name="valor" type="text" class="form-control" id="valor">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</body>

</html>