<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>
<body style="display: flex; align-items: center; height: 100vh;">
    
    <div class="container d-grid gap-2" style="justify-content: center;">
        <h1>O que vamos cadastrar?</h1>
        <a href="/carro" class="btn btn-primary"><button class="btn btn-primary" type="button">CARRO</button></a>
        <a href="/cliente" class="btn btn-primary"><button class="btn btn-primary" type="button">CLIENTE</button></a>
        <a href="/filial" class="btn btn-primary"><button class="btn btn-primary" type="button">FILIAL</button></a>
        <a href="/fornecedor" class="btn btn-primary"><button class="btn btn-primary" type="button">FORNECEDOR</button></a>
      </div>
</body>
</html>


